@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {

    --color-Primary : #2563EB;
    --color-Primary-dull : #1D4ED8;
}

*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body{
    color: white;
    background-color: #0A1128;
}

.no-scrollbar {

    scrollbar-width:  none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}
